
<footer>
    <nav class="navbar fixed-bottom navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"><span style="font-size: 70%">&copy;copyright&nbsp;&nbsp;&nbsp;Code Titans - Centennial College -COMP 299_005 -F2021</span></a>
      </div>
    </nav> 
  </footer>