<header>
  <div class= "container">
    <h3>
      <%= title %> <!-- Retrieve 'title' from index.js-->
    </h3>
    <h1>Code Titans </h1>
  </div>
</header>
<section class="py-5 bg-light" id="scroll-target">
  <div class="container px-5 my-5">
      <div class="row gx-5 align-items-center">
          <div class="col-lg-6"><img src="http://drive.google.com/uc?export=view&id=10NyToNKqWOdln4y50dZIuGIjfhWU2fxx" alt="logo" /></div>
          <div class="col-lg-6">
              <h2 class="fw-bolder">What do we offer?</h2>
              <p class="lead fw-normal text-muted mb-0">Quality and Customized Premium Survey</p>
              <br>
              <p class="lead fw-normal text-muted mb-0">
                Code Titans provide customized tool for premium and quality survey. 
                Base on the variety of survey collection, we also provide various analysis for special data informaion.
              </p>
              <br>
              <p class="lead fw-normal text-muted mb-0">If you don't have an account, Please register here.&nbsp;&nbsp;<a href="/register">New Customer</a></p>          
          </div>
      </div>
  </div>
</section>